<h1> Add a new recipe </h1>
<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>

<br>
<br>

  <form action="/recipes" method="post">
    <p> Recipe Name: <input type="text" name="name" required> </p>
    <p> Ingredients: <input type="text" name="ingredients" required> </p>
    <p> Instructions: <input type="text" name="instructions" required> </p>
    <input type="submit" value="Save">
  </form>

<br>

  <form action="/recipes">
      <input type="submit" value=" < Back to all recipes">
  </form>
