<h1> Create a new recipe <h1>

  <form action="/recipes" method="post">
    <h3> Recipe Name: <input type="text" name="name">
    <p> Ingredients: <input type="text" name="ingredients"> </p>
    <p> Instructions: <input type="text" name="instructions"> </p> </h3>
    <input type="submit" value="Save">

  </form>
