<h1> Create a new recipe </h1>
<% if flash.has?(:message) %>
  <h2> <%= flash[:message] %> </h2>
<% end %>

<br>
<br>

  <form action="/recipes" method="post">
    <p> Recipe Name: <input type="text" name="name"> </p>
    <p> Ingredients: <input type="text" name="ingredients"> </p>
    <p> Instructions: <input type="text" name="instructions"> </p>
    <input type="submit" value="Save">
  </form>

<br>

  <form action="/recipes">
      <input type="submit" value=" < Back to all recipes">
  </form>
