<h1> <%= @recipe.name %> </h1>

<h2> Ingredients </h2>
<%= @recipe.ingredients %>

<h2> Instructions </h2>
<%= @recipe.instructions %>

<br>
<h3> <a href="/recipe/<%=@recipe.id%>/edit"> Edit </a> <h3>
<br>
<h3> <a href="/recipes"> Back to all Recipes </a> <h3>
