<h1> Please Sign up below </h1>

<form action="/signup" method="post">
  Name <input type="text" name="name">
  Email <input type="text" name="email">
  Password <input type="password" name="password">
</form>
