<h1> Welcome to Cook-Book! </h1>
<h2> Please Sign up below </h2>

<form action="/signup" method="post">
  Name <input type="text" name="name">
  Email <input type="text" name="email">
  Password <input type="password" name="password">
  <input type="submit" value="Signup">
</form>
