<h1> Welcome to Cookbook! </h1>
<br>
<p> Please Log in or Sign up to continue.. </p>

<form action="/login">
    <input type="submit" value=" Log In">
</form>

<br>

<form action="/signup">
    <input type="submit" value=" Sign Up">
</form>
